{% extends 'base.twig' %}

{% block title %}Upload a file{% endblock %}

{% block body %}
    <h3>
        Upload file
    </h3>

        <form action="{{ path('/photos/upload', {'id': id}) }}" method="post" enctype="multipart/form-data">
            {{ form_widget(form) }}
        </form>

        <div class="error">You have no permissions to view this site!</div>


{% endblock %}