{% extends 'base.twig' %}

{% block title %}Upload a file{% endblock %}

{% block body %}
    <h1 class="display-3"> Upload file</h1>

        <form action="{{ path('/photos/upload', {'id': id}) }}" method="post" enctype="multipart/form-data" class="form-control" >
            {{ form_widget(form) }}
        </form>

        <div class="error">You have no permissions to view this site!</div>


{% endblock %}