{% extends 'base.twig' %}

{% block title %} Delete page {% endblock %}

{% block body %}
    <h1>
        Delete page
    </h1>

    <p>Do you really want to delete this entry?</p>
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>

{% endblock %}
