{% extends 'base.twig' %}


{% block title %}Add new page{% endblock %}

{% block body %}
    <h1>
        Add new page
    </h1>
    <form action="{{ url('/pages/new') }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}