{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h3>
        Login
    </h3>
    {{ error }}
    <form action="{{ path('account_admin') }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}