{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                Login
            </h1>
        </div>
        <div class="col-md-12">
            {{ error }}
            <form action="{{ path('admin_login_check') }}" method="post">
                {{ form_widget(form) }}
            </form>
        </div>
    </div>
{% endblock %}
