{% extends 'base.twig' %}
{% block title %} Edit your account information {% endblock %}

{% block content %}
    <h1>
        Edit account information
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
    <ul>
        <li><a href="{{ path('/account/password') }}">Change password</a></li>
        <li><a href="{{ path('/account/delete') }}">Delete account</a></li>
    </ul>
{% endblock %}