body{
    background-color:#6c757d;
    font-family: 'Raleway', sans-serif;
}
#container{
    width:800px;
    margin:0 auto;
    background-color:#C9B9AB;
    border-radius:10px;
    padding:10px;
}

div{
    display:block;
}
