body{
    background-color:#6c757d;
    font-family: 'Raleway', sans-serif;
}
#container{
    width:800px;
    margin:0 auto;
    background-color:#C9B9AB;
    border-radius:10px;
    padding:10px;
}

div{
    display:block;
}
#container{
    width:1170px;
    min-height:750px;
    margin:0 auto;
}

#header{
    position:relative;
    height:250px;
    width:100%;
}
#header .menuTop{
    width:100%;
    height:30px;
}

#header .menuTop ul li{
    display:inline;

}

#header .menuTop ul{
    float:right;
    margin:2px;
}

#header .logo img{
    max-height:220px;
}

#header .logo{
    float:left;
    height:auto;
    width:50%;
}

#header .title{
    float:right;
    width:50%;
    height:220px;
}

.below{
    padding-top:10px;
    width:100%;
    min-height:600px;
}

#message{
    width:100%;
    height:30px;
}

#menuLeft{
    position:relative;
    width:100%;
    float:left;
}

#menuLeft ul li,
#menuRight ul li,
.menuTop ul li{
    display:inline;
    padding-right:20px;
    height:100%;
}


#menuRight{
    position:relative;
    width:100%;
    float:left;
}

#content{
    position:relative;
    width:1130px;
    float:left;
    min-height:400px;
    padding:20px;
}

#footer{
    position:relative;
    width:100%;
    height:50px;
}

#form_content{
    width:300px;
    height:200px;
}
a,
a:visited,
a:active{
    color:#F7E3CA;
    text-decoration:none;
    line-height:1em;
}
a:hover{
    color:#2A2927;
    background-color:#F7E3CA;
}

#header a:hover{
    background-color:transparent;
}

#content a,
#content a:visited,
#content a:active{
    color:black;
    text-decoration:none;
    line-height:1em;
}
#content a:hover{
    color:#2A2927;
    text-decoration:underline;
}

.below{
    background-color:#BABBAD;
}

#menuLeft,
.menuTop,
#menuRight{
    background-color:#C5B898;
}

#menuLeft a,
#menuRight a{
    font-size:22px;
}

#header,
#footer{
    background-color:#F7E3CA;
}

.footerCaption{
    color:black;
    padding-top:10px;
    padding-left:10px;
}
.footerCaption p{
    margin:0;
}

#content{
    background-color:#F7E3CA;
}

.title p{
    margin:0;
    font-size:68px;
    color:black;
}

.success{
    background-color:#4A6B5A;
}

.error{
    background-color:#BF2273;
}
